<form (ngSubmit)="onSave()">     
      <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="tarjeta.titulo" type="text" placeholder="Titulo" name="Titulo">
      </mat-form-field>
      <mat-form-field class="textArea">
        <mat-label>Contenido Tarjeta</mat-label>
        <textarea matInput [(ngModel)]="tarjeta.informacion" placeholder="Contenido Tarjeta" name="ContenidoTarjeta"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sistema:</mat-label>        
        <mat-select [(ngModel)]="tarjeta.sistema" name="Sistema" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let item of sistemas" [value]="item.value" >{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Base de Datos:</mat-label>        
        <mat-select [(ngModel)]="tarjeta.baseDatos" name="baseDatos" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let item of baseDatos" [value]="item.value">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>        
    <button mat-raised-button color="primary" type="submit" class="buttonArea">Save Tarjeta</button>
  </form>